<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="custom/overall.css">
    <script src="custom/overall.js"></script>
    <script src="js/overall.js"></script>
    <link rel="stylesheet" href="css/gugubot.css">
    <style>
        * {
            padding: 0;
            margin: 0;
            color: #2b2b2b;
            font-weight: 500;
        }
    </style>
    <script>
        function checkIfEmbedded() {
            if (window.top == window.self) {
                // 跳转到首页
                window.location.href = '/index';
            }
        }

        // 当页面失去焦点时检测
        window.onblur = checkIfEmbedded;
        // 页面加载时检测
        window.onload = checkIfEmbedded;
        // 页面尺寸发生变化时
        window.onresize = checkIfEmbedded;
        // 页面滚动时
        window.onscroll = checkIfEmbedded;
        // 页面内容发生变化时
        window.onhashchange = checkIfEmbedded;
        // 页面内容被点击时
        window.onclick = checkIfEmbedded;
    </script>
</head>
<body id="gugubot-page">
    <script>
        // 获取用户的主题偏好
        const savedTheme = localStorage.getItem('guguwebui-theme') || 'auto';

        // 判断是否为自动模式，并根据系统的夜间模式设置调整主题
        if (savedTheme === 'auto') {
            const prefersDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
            document.body.classList.add(prefersDarkMode ? 'dark' : 'light');
        } else {
            document.body.classList.add(savedTheme);
        }
    </script>
    <!-- 未安装插件提示 -->
    <div id="no-plugin-hint" class="no-hint" style="display: none;">
        <div class="no-plugin-hint-content">
            <p>抱歉，您未安装GUGUbot插件无法进行配置，请前往<a href="https://mcdreforged.com/zh-CN/plugin/gugubot" target="_blank">MCDR仓库</a>下载安装。</p>
            <p>安装后请刷新页面。</p>
            <p>或者点击以下按钮安装插件：</p>
            <div onclick="installPlugin('gugubot')" class="btn">安装插件</div>
        </div>
    </div>
    <!-- 未运行插件提示 -->
    <div id="no-run-hint" class="no-hint" style="display:none;">
        <div class="no-run-hint-content">
            <p>您未运行GUGUbot插件，请先运行插件。</p>
            <div onclick="runPlugin('gugubot')" class="btn">运行插件</div>
        </div>
    </div>
    <div id="container" style="display: none;">
        <h2 class="title">说明</h2>
        <div class="about-list">
            <div class="about-item">
                <p>GUGUbot: <span>PFingan-MCDRQQ机器人插件，提供多项QQ机器人配置和功能，涵盖管理娱乐等多种功能，并且提供详尽的配置项以方便私人定制化。</span></p>
                <a href="https://mcdreforged.com/zh-CN/plugin/gugubot" target="_blank">MCDR仓库</a>
                <a href="https://github.com/LoosePrince/PF-GUGUbot" target="_blank">Github仓库</a>
                <a href="#about" id="gugubot-version">版本：获取中...</a>
            </div>
        </div>
        <div class="config" id="config">
            <div id="./config/GUGUbot/config.yml"></div>
        </div>
        <div class="btn" id="save" onclick='saveConfig("./config/GUGUbot/config.yml")'>保存设置</div>
        <script>
            // 加载配置
            fetch('/api/load_config?path=./config/GUGUbot/config.yml')
                .then(response => response.json())
                .then(jsonData => {
                    if (jsonData.type === 'html') {
                        const save = document.getElementById("save");
                        const popupContent = document.getElementById("./config/GUGUbot/config.yml");
                        const iframe = document.createElement('iframe');
                        iframe.srcdoc = jsonData.content;
                        iframe.style.width = "calc(100% - 5px)";
                        iframe.style.height = "calc(100% - 20px)";
                        iframe.style.border = "none";
                        iframe.style.position = "absolute";
                        popupContent.appendChild(iframe);
                        popupContent.style.display = "block";
                        save.style.display = "none";
                        return;
                    }
                    buildHtmlFromJson(jsonData, "./config/GUGUbot/config.yml");
                })
                .catch(error => console.error('Error fetching data:', error));
        </script>
        <script>
            // 调用 GET /api/gugubot_plugins
            document.addEventListener("DOMContentLoaded", function () {
                // 获取插件状态
                set_gugu_plugin('gugubot') 
            });
        </script>
        <script src="js/plugins.js"></script>
    </div>
    <pre id="JSON">

    </pre>
</body>
</html>