<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="custom/overall.css">
    <script src="custom/overall.js"></script>
    <link rel="stylesheet" href="css/home.css">
    <script>
        function checkIfEmbedded() {
            if (window.top == window.self) {
                // 跳转到首页
                window.location.href = "{{ index_path }}";
            }
        }

        // 当页面失去焦点时检测
        window.onblur = checkIfEmbedded;
        // 页面加载时检测
        window.onload = checkIfEmbedded;
        // 页面尺寸发生变化时
        window.onresize = checkIfEmbedded;
        // 页面滚动时
        window.onscroll = checkIfEmbedded;
        // 页面内容发生变化时
        window.onhashchange = checkIfEmbedded;
        // 页面内容被点击时
        window.onclick = checkIfEmbedded;
    </script>
</head>
<body id="home">
    <h2 class="title">状态<span class="tip">点击切换运行状态</span></h2>
    <div class="status">
        <!-- 插件列表 -->
        <div id="gugubot-status-list"></div>

        <p class="tip">无法关闭WebUI插件，点击只会重启插件</p>
        <div id="plugins" class="plugins"></div>
    </div>
    <h2 class="title">近期配置<span class="tip">点击跳转对应设置项，此处记录近期5项修改</span></h2>
    <div class="plugins-config">
        暂未开放
    </div>
    <h2 class="title">Web配置<span class="tip">修改不会立即生效，需要重启GUGUWebUI插件</span></h2>
    <div class="web-config">
        <div class="web-config-item">
            <!-- 输入框 -->
             <div>
                <p>端口</p>
                <input type="text" id="port" value="">
             </div>
             <div>
                <p>禁止管理员登录后运行登录的账号</p>
                <input type="text" id="disable_admin_login_after_run" value="">
             </div>
             <!-- 按钮 -->
             <div>
                <p>&nbsp;</p>
                <div class="btn" id="save" onclick="saveWebConfig('config')">保存设置</div>
             </div>
        </div>
        <p class="tip">以上两项为必填项，修改账号请仔细核对，以防无法登录</p>
        <div class="web-config-item">
            <!-- 按钮 -->
            <div>
                <p>禁止管理员登录Web</p>
                <div class="btn" id="disable_admin_login_web" onclick="saveWebConfig('disable_admin_login_web')">点击启用</div>
            </div>
            <div>
                <p>开启临时登录密码</p>
                <div class="btn" id="enable_temp_login_password" onclick="saveWebConfig('enable_temp_login_password')">点击启用</div>
            </div>
        </div>
        <div id="controls" class="web-config-item">
            <!-- 按钮 -->
            <div>
                <p>修改Web全局CSS样式</p>
                <div class="btn" id="load-css">打开文件</div>
            </div>
            <div>
                <p>修改Web全局JS脚本</p>
                <div class="btn" id="load-js">打开文件</div>
            </div>
        </div>
        <p class="tip">CSS和JS将在head中引用,如果你有修改或者拓展HTML或者其它的需求请使用JS</p>
    </div>
    <!-- 代码编辑器 -->
    <div id="overlay"></div>
    <div id="editor-popup">
        <div id="popup-controls">
            <button class="btn" id="cancel">返回</button>
            <select class="btn" style="width: auto;" id="theme-select">
                <option value="monokai">Monokai</option>
                <option value="chrome">Chrome</option>
                <option value="clouds">Clouds</option>
                <option value="crimson_editor">Crimson Editor</option>
                <option value="dawn">Dawn</option>
                <option value="eclipse">Eclipse</option>
                <option value="solarized_light">Solarized Light</option>
                <option value="github">GitHub</option>
                <option value="cobalt">Cobalt</option>
                <option value="twilight">Twilight</option>
                <option value="dracula">Dracula</option>
                <option value="ambiance">Ambiance</option>
                <option value="chaos">Chaos</option>
                <option value="clouds_midnight">Clouds Midnight</option>
                <option value="cobalt">Cobalt</option>
                <option value="idle_fingers">Idle Fingers</option>
                <option value="kr_theme">KR Theme</option>
                <option value="merbivore">Merbivore</option>
                <option value="merbivore_soft">Merbivore Soft</option>
                <option value="mono_industrial">Mono Industrial</option>
                <option value="pastel_on_dark">Pastel on Dark</option>
                <option value="solarized_dark">Solarized Dark</option>
                <option value="terminal">Terminal</option>
                <option value="tomorrow">Tomorrow</option>
                <option value="tomorrow_night">Tomorrow Night</option>
                <option value="tomorrow_night_blue">Tomorrow Night Blue</option>
            </select>              
            <button class="btn" id="save-file" title="CTRL+S">保存提交</button>
        </div>
        <div id="editor">/* 在这里输入代码 */</div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-language_tools.js"></script>
    <script src="js/home.js"></script>
</body>
</html>