<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在线插件</title>
    <link rel="stylesheet" href="custom/overall.css">
    <script src="custom/overall.js"></script>
    <script src="js/overall.js"></script>
    <link rel="stylesheet" href="css/plugins.css">
    <script>
        function checkIfEmbedded() {
            if (window.top == window.self) {
                // 跳转到首页
                window.location.href = "{{ index_path }}";
            }
        }

        // 当页面失去焦点时检测
        window.onblur = checkIfEmbedded;
        // 页面加载时检测
        window.onload = checkIfEmbedded;
        // 页面尺寸发生变化时
        window.onresize = checkIfEmbedded;
        // 页面滚动时
        window.onscroll = checkIfEmbedded;
        // 页面内容发生变化时
        window.onhashchange = checkIfEmbedded;
        // 页面内容被点击时
        window.onclick = checkIfEmbedded;
    </script>
</head>
<body id="plugins">
    <script>
        // 获取用户的主题偏好
        const savedTheme = localStorage.getItem('guguwebui-theme') || 'auto';

        // 判断是否为自动模式，并根据系统的夜间模式设置调整主题
        if (savedTheme === 'auto') {
            const prefersDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
            document.body.classList.add(prefersDarkMode ? 'dark' : 'light');
        } else {
            document.body.classList.add(savedTheme);
        }
    </script>
    <div class="about-list">
        <h2>插件列表<input type="text" id="search-input" class="btn" placeholder="搜索插件"><span class="tip">可以在此处从插件仓库快速安装插件，如果没有显示<bold>一键安装</bold>按钮请点击<bold>插件详细</bold>内的<bold>安装</bold>按钮</span></h2>
        <div>
            <a class="btn" href="https://mcdreforged.com/zh-CN/plugin/" target="_blank">插件仓库</a>
            <a class="btn" href="#" onclick="loadPlugins();return false;">刷新插件列表</a>
        </div>
    </div>
    <div id="plugin-list"></div>

    <div id="pagination"></div>

    <!-- 画布 -->
    <div id="overlay"></div>
    <div id="mcdr-popup">
        <div id="popup-controls">
            <button class="btn" id="cancel">返回</button>       
            <button class="btn" id="install">一键安装</button>
        </div>
        <iframe src="" frameborder="0" id="mcdr-frame"></iframe>
    </div>

    <script>
        const itemsPerPage = 10;
        let currentPage = 1;
    </script>
    <script src="js/online-plugins.js"></script>
    <script>
        loadPlugins();
    </script>
</body>
</html>