<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>本地插件</title>
    <link rel="stylesheet" href="custom/overall.css">
    <script src="custom/overall.js"></script>
    <script src="js/overall.js"></script>
    <link rel="stylesheet" href="css/plugins.css">
    <script>
        function checkIfEmbedded() {
            if (window.top == window.self) {
                // 跳转到首页
                window.location.href = "{{ index_path }}";
            }
        }

        // 当页面失去焦点时检测
        window.onblur = checkIfEmbedded;
        // 页面加载时检测
        window.onload = checkIfEmbedded;
        // 页面尺寸发生变化时
        window.onresize = checkIfEmbedded;
        // 页面滚动时
        window.onscroll = checkIfEmbedded;
        // 页面内容发生变化时
        window.onhashchange = checkIfEmbedded;
        // 页面内容被点击时
        window.onclick = checkIfEmbedded;
    </script>
</head>
<body id="plugins">
    <script>
        // 获取用户的主题偏好
        const savedTheme = localStorage.getItem('guguwebui-theme') || 'auto';

        // 判断是否为自动模式，并根据系统的夜间模式设置调整主题
        if (savedTheme === 'auto') {
            const prefersDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
            document.body.classList.add(prefersDarkMode ? 'dark' : 'light');
        } else {
            document.body.classList.add(savedTheme);
        }
    </script>
    <div class="about-list">
        <h2>插件列表<span class="tip">可以在此处进行本地插件的通用化配置，注意，由于是通用化配置，所以不可能支持所有的配置！</span></h2>
        <div>
            <a class="btn" href="https://mcdreforged.com/zh-CN/plugin/" target="_blank">插件仓库</a>
            <a class="btn" href="#" onclick="loadPlugins();return false;">刷新插件列表</a>
        </div>
    </div>
    <div id="plugin-list"></div>

    <div id="pagination"></div>

    <h2>配置列表<span class="tip">请点击上方插件列表的“插件配置”按钮加载文件列表</span></h2>
    <div id="config" class="modal">

    </div>

    <pre id="JSON"></pre>

    <!-- 代码编辑器 -->
    <div id="overlay"></div>
    <div id="editor-popup">
        <div id="popup-controls">
            <button class="btn" id="cancel">返回</button>
            <select class="btn" style="width: auto;" id="editor-theme-select">
                <option value="monokai">Monokai</option>
                <option value="chrome">Chrome</option>
                <option value="clouds">Clouds</option>
                <option value="crimson_editor">Crimson Editor</option>
                <option value="dawn">Dawn</option>
                <option value="eclipse">Eclipse</option>
                <option value="solarized_light">Solarized Light</option>
                <option value="github">GitHub</option>
                <option value="cobalt">Cobalt</option>
                <option value="twilight">Twilight</option>
                <option value="dracula">Dracula</option>
                <option value="ambiance">Ambiance</option>
                <option value="chaos">Chaos</option>
                <option value="clouds_midnight">Clouds Midnight</option>
                <option value="cobalt">Cobalt</option>
                <option value="idle_fingers">Idle Fingers</option>
                <option value="kr_theme">KR Theme</option>
                <option value="merbivore">Merbivore</option>
                <option value="merbivore_soft">Merbivore Soft</option>
                <option value="mono_industrial">Mono Industrial</option>
                <option value="pastel_on_dark">Pastel on Dark</option>
                <option value="solarized_dark">Solarized Dark</option>
                <option value="terminal">Terminal</option>
                <option value="tomorrow">Tomorrow</option>
                <option value="tomorrow_night">Tomorrow Night</option>
                <option value="tomorrow_night_blue">Tomorrow Night Blue</option>
            </select>              
            <button class="btn" id="save-file" title="CTRL+S">保存提交</button>
        </div>
        <div id="editor">/* 在这里输入代码 */</div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-language_tools.js"></script>
    <script>
        // 编辑器
        const editor = ace.edit("editor");
        const overlay = document.getElementById("overlay");
        const editorPopup = document.getElementById("editor-popup");
        let current_path = '';
        const localStorageKey = (current_path) => `editor_content_${current_path}`;

        // 读取本地存储中的主题
        const editor_theme = localStorage.getItem('editor_theme');
        if (editor_theme) {
            editor.setTheme("ace/theme/" + editor_theme);
        } else {
            editor.setTheme("ace/theme/monokai"); // 默认主题
        }

        editor.setOptions({
            enableBasicAutocompletion: true,
            enableLiveAutocompletion: true,
            fontSize: "14px",
            useSoftTabs: true,
        });

        // 主题选择事件
        document.getElementById("editor-theme-select").addEventListener("change", function() {
            const selectedTheme = this.value;
            editor.setTheme("ace/theme/" + selectedTheme);
            localStorage.setItem('editor_theme', selectedTheme); // 缓存主题到本地
        });

        // 事件监听
        document.getElementById("save-file").addEventListener("click", () => saveToServer());
        document.getElementById("cancel").addEventListener("click", () => {
            localStorage.removeItem(localStorageKey(current_path));
            closePopup();
        });

        // 输入时实时保存到本地存储
        editor.on("input", () => {
            localStorage.setItem(localStorageKey(current_path), editor.getValue());
        });
    </script>

    <script>
        const itemsPerPage = 7;
        let currentPage = 1;
    </script>
    <script src="js/plugins.js"></script>
    <script>
        loadPlugins();
    </script>
</body>
</html>