
/* CSS Variables for Colors */
body {
    --color-1: #a1afc9ff;
    --color-2: #ffffffff;
    --color-3: #e9f1f6ff;
    --color-4: #e9f1f6ff;
    --color-5: #c2ccd0ff;
    --color-6: #ffffffff;
    --color-7: #a1afc9ff;
    --color-8: #6473e8ff;
    --color-9: #a1afc9ff;
    --color-10: #4674c5ff;
    --color-11: #e9f1f6ff;
    --color-12: #ffffff60;
    --color-13: #e9f1f6ff;
    --color-14: #ffffff60;
    --color-15: #ffffffcc;
    --color-16: #e9f1f6ff;
    --color-17: #ffffff60;
    --color-18: #e9f1f6ff;
    --color-19: #2b2b2bff;
    --color-20: #ffffffff;
    --color-21: #a1afc9ff;
    --color-22: #e9f1f6ff;
    --color-23: #e9f1f6ff;
    --color-24: #e9f1f6ff;
    --color-25: #ffffffff;
    --color-26: #a1afc9ff;
    --color-27: #e9f1f6ff;
    --color-28: #e9f1f6ff;
    --color-29: #ffffffff;
    --color-30: #e9f1f6ff;
    --color-31: #a1afc9ff;
}

body.dark {
    --color-1: #A8A8A8;
    --color-2: #1E1E1E;
    --color-3: #2D2D2D;
    --color-4: #1E1E1E;
    --color-5: #2D2D2D;
    --color-6: #E0E0E0;
    --color-7: #A8A8A8;
    --color-8: #669be8;
    --color-9: #A8A8A8;
    --color-10: #5790ca;
    --color-11: #2D2D2D;
    --color-12: rgba(30, 30, 30, 0.38);
    --color-13: #2D2D2D;
    --color-14: rgba(30, 30, 30, 0.38);
    --color-15: rgba(30, 30, 30, 0.8);
    --color-16: #2D2D2D;
    --color-17: rgba(30, 30, 30, 0.38);
    --color-18: #2D2D2D;
    --color-19: #2b2b2bff;
    --color-20: #1E1E1E;
    --color-21: #A8A8A8;
    --color-22: #2D2D2D;
    --color-23: #2D2D2D;
    --color-24: #2D2D2D;
    --color-25: #1E1E1E;
    --color-26: #A8A8A8;
    --color-27: #2D2D2D;
    --color-28: #2D2D2D;
    --color-29: #1E1E1E;
    --color-30: #2D2D2D;
    --color-31: #A8A8A8;
    color: #E0E0E0;
    background-color: #1E1E1E;
    color-scheme: dark !important;
}


body.dark * {
    color: #dbd8d4;
}

:is(#mc, #mcdr) .title:first-of-type {
    margin-top: 0;
}

:is(#mc, #mcdr) .title {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 10px;
}

:is(#mc, #mcdr) .title .tip {
    margin-left: 20px;
}

:is(#mc, #mcdr) .tip {
    color: var(--color-1);
    font-size: 12px;
    margin-left: 5px;
}

:is(#mc, #mcdr) .about-list .about-item {
    margin: 10px 0;
    background-color: var(--color-2);
    max-width: 520px;
    height: 90px;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid var(--color-3);
    position: relative;
}

:is(#mc, #mcdr) .about-list .about-item p,
:is(#mc, #mcdr) .about-list .about-item a {
    font-size: 14px;
}

:is(#mc, #mcdr) .about-list .about-item p {
    height: calc(100% - 25px);
}

:is(#mc, #mcdr) .about-list .about-item p span{
    margin-right: 10px;
}

:is(#mc, #mcdr) .about-list .about-item a {
    padding: 5px 10px;
    background-color: var(--color-4);
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    margin-right: 10px;
}

:is(#mc, #mcdr) .about-list .about-item a:hover {
    background-color: var(--color-5);
    color: var(--color-6);
}

:is(#mc, #mcdr) .config .config-item .about-list .about-item {
    height: auto;
    max-height: 120px;
    max-width: 100%;
    margin: 0;
    margin-bottom: 10px;
    overflow: auto;
}

:is(#mc, #mcdr) .config .config-item .about-list .about-item p {
    color: var(--color-7);
    font-size: 12px;
    margin: 0;
}

:is(#mc, #mcdr) .config .config-item .about-list .about-item a {
    color: var(--color-8);
    text-decoration: underline;
    padding: 0;
    background: none;
}

:is(#mc, #mcdr) .config .config-item .about-list .about-item ul li {
    list-style: inside;
    color: var(--color-9);
    font-size: 12px;
    margin: 0px;
    margin-left: 10px;
}

:is(#mc, #mcdr) .config .config-item .about-list .about-item .tip {
    color: var(--color-10);
    margin-right: 5px;
    font-size: 14px;
}

:is(#mc, #mcdr) .config .config-item,
:is(#mc, #mcdr) .config .config-item-child {
    display: flex;
    margin-bottom: 15px;
    margin-top: 5px;
    /* 自动换行 */
    flex-wrap: wrap;
    border: 2px solid var(--color-11);
    border-radius: 15px;
    padding: 10px;
    background-color: var(--color-12);
    backdrop-filter: blur(3px);
    
}

#mcdr .config .config-item {
    display: block;
}

:is(#mc, #mcdr) .config .config-item-child > div {
    margin-right: 10px;
    min-width: 170px;
    animation: slideIn 0.5s forwards;
    opacity: 0;
    transform: translateY(50px);
}

.Group {
    border: 2px solid var(--color-13);
    border-radius: 15px;
    padding: 10px;
    background-color: var(--color-14);
    margin-bottom: 5px;
    backdrop-filter: blur(3px);
}

:is(#mc, #mcdr) .config .config-item > div {
    margin-right: 20px;
    min-width: 180px;
    animation: slideIn 0.5s forwards;
    opacity: 0;
    transform: translateY(50px);
}

#mc .config .config-item > div {
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 150px;
    background-color: var(--color-15);
    padding: 5px;
    border: 2px solid var(--color-16);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#mc .config .config-item > div .tip {
    display: block;
    margin: 0;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

:is(#mc, #mcdr) .config div > p {
    font-size: 15px;
    margin-bottom: 5px;
    background-color: var(--color-17);
    padding: 0 5px 2px;
    border-radius: 5px;
    margin-top: 10px;
}

:is(#mc, #mcdr) .config .config-item-input {
    display: flex;
    flex-wrap: wrap;
}

:is(#mc, #mcdr) .config .input-container {
    display: flex;
}

:is(#mc, #mcdr) .config input[type="text"] {
    height: 30px;
    display: block;
    min-width: 80px;
    width: 80px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 5px 10px ;
    border-radius: 8px;
    border: none;
    background-color: var(--color-18);
    font-size: 16px;
    margin-right: 2px;
    margin-bottom: 2px;
}

#mcdr .config #permission\.yml .config-item-input input[type="text"] {
    min-width: 200px;
    max-width: 200px;
}

:is(#mc, #mcdr) .config input[type="checkbox"] {
    width: 0;
    height: 30px;
}

/* 选中状态 */
:is(#mc, #mcdr) .config input[type="checkbox"]::after {
    position: absolute;
    content: "点击开启";
    color: var(--color-19);
    height: 30px;
    width: 80px;
    box-sizing: border-box;
    padding: 3px 10px;
    border-radius: 8px;
    background-color: var(--color-20);
    color: var(--color-21);
    border: 2px solid var(--color-22);
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s all;
}

:is(#mc, #mcdr) .config input[type="checkbox"]:hover::after {
    transform: scale(0.95);
}

:is(#mc, #mcdr) .config input[type="checkbox"]:checked::after {
    content: "点击关闭";
    background-color: var(--color-23);
}

:is(#mc, #mcdr) .config div button {
    width: 25px;
    border: 0;
    background: var(--color-24);
    cursor: pointer;
    margin: 5px;
    margin-left: -35px;
    margin-right: 10px;
}


:is(#mc, #mcdr) .btn {
    height: 30px;
    width: 80px;
    box-sizing: border-box;
    padding: 3px 10px;
    border-radius: 8px;
    background-color: var(--color-25);
    color: var(--color-26);
    border: 2px solid var(--color-27);
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s all;
}

:is(#mc, #mcdr) .btn:hover {
    transform: scale(0.95);
}

:is(#mc, #mcdr) .btn.enable {
    background-color: var(--color-28);
}

:is(#mc, #mcdr) .no-hint {
    max-width: 520px;
    background: var(--color-29);
    padding: 10px;
    border-radius: 15px;
    border: 2px solid var(--color-30);
    font-size: 14px;
    color: var(--color-31);
}

:is(#mc, #mcdr) .no-hint p{
    margin-bottom: 5px;
}
