
/* CSS Variables for Colors */
body {
    --color-1: #a1afc9ff;
    --color-2: #ffffffff;
    --color-3: #e9f1f6ff;
    --color-4: #e9f1f6ff;
    --color-5: #c2ccd0ff;
    --color-6: #ffffffff;
    --color-7: #ffffffff;
    --color-8: #e9f1f6ff;
    --color-9: #333333ff;
    --color-10: #ffffffff;
    --color-11: #ffffffff;
    --color-12: #75878aff;
    --color-13: #a1afc9ff;
    --color-14: #6473e8ff;
    --color-15: #75878aff;
    --color-16: #75878aff;
    --color-17: #ffffffff;
    --color-18: #392f41ff;
    --color-19: #e9f1f6ff;
    --color-20: #a1afc9ff;
    --color-21: #e9f1f6ff;
    --color-22: #ffffffcc;
    --color-23: #e9f1f6ff;
    --color-24: #e9f1f6ff;
    --color-25: #ffffff60;
    --color-26: #ffffffcc;
    --color-27: #e9f1f6ff;
    --color-28: #ffffff60;
    --color-29: #e9f1f6ff;
    --color-30: #2b2b2bff;
    --color-31: #ffffffff;
    --color-32: #a1afc9ff;
    --color-33: #e9f1f6ff;
    --color-34: #e9f1f6ff;
    --color-35: #e9f1f6ff;
    --color-36: #ffffffff;
    --color-37: #392f41ff;
    --color-38: #e9f1f6ff;
    --color-39: #e9f1f6ff;
    --color-40: #ffffffff;
    --color-41: #e9f1f6ff;
    --color-42: #a1afc9ff;
    --color-43: #ffffffff;
    --color-44: #e9f1f6ff;
    --color-45: #0000007f;
    --color-46: #ffffffff;
    --color-47: #e9f1f6ff;
}

body.dark {
    --color-1: #A8A8A8;
    --color-2: #1E1E1E;
    --color-3: #2D2D2D;
    --color-4: #1E1E1E;
    --color-5: #2D2D2D;
    --color-6: #E0E0E0;
    --color-7: #1E1E1E;
    --color-8: #2D2D2D;
    --color-9: #2D2D2D;
    --color-10: #E0E0E0;
    --color-11: #E0E0E0;
    --color-12: #A8A8A8;
    --color-13: #A8A8A8;
    --color-14: #669be8;
    --color-15: #A8A8A8;
    --color-16: #A8A8A8;
    --color-17: #1E1E1E;
    --color-18: #E0E0E0;
    --color-19: #2D2D2D;
    --color-20: #A8A8A8;
    --color-21: #2D2D2D;
    --color-22: rgba(30, 30, 30, 0.8);
    --color-23: #2D2D2D;
    --color-24: #2D2D2D;
    --color-25: rgba(30, 30, 30, 0.38);
    --color-26: rgba(30, 30, 30, 0.8);
    --color-27: #2D2D2D;
    --color-28: rgba(30, 30, 30, 0.38);
    --color-29: #2D2D2D;
    --color-30: #2b2b2bff;
    --color-31: #1E1E1E;
    --color-32: #A8A8A8;
    --color-33: #2D2D2D;
    --color-34: #2D2D2D;
    --color-35: #2D2D2D;
    --color-36: #1E1E1E;
    --color-37: #E0E0E0;
    --color-38: #2D2D2D;
    --color-39: #2D2D2D;
    --color-40: #1E1E1E;
    --color-41: #2D2D2D;
    --color-42: #A8A8A8;
    --color-43: #1E1E1E;
    --color-44: #2D2D2D;
    --color-45: #0000007f;
    --color-46: #1E1E1E;
    --color-47: #2D2D2D;
    color: #E0E0E0;
    background-color: #1E1E1E;
    height: 100%;
    color-scheme: dark !important;
}

body.dark * {
    color: #dbd8d4;
}

#plugins >div:has(>h2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#plugins >div:has(>h2) >div {
    display: flex;
    align-items: center;
}

#plugins >div:has(>h2) >div >a {
    margin-right: 10px;
    text-decoration: none;
}

#plugins >div:has(>h2) >div >a:last-of-type {
    margin-right: 0;
}

#plugins .title:first-of-type {
    margin-top: 0;
}

#plugins .title {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#plugins .title .tip {
    margin-left: 20px;
}

#plugins .tip {
    color: var(--color-1);
    font-size: 12px;
    margin-left: 5px;
}

#plugins .about-list .about-item {
    margin: 10px 0;
    background-color: var(--color-2);
    max-width: 520px;
    height: 90px;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid var(--color-3);
    position: relative;
}

#plugins .about-list .about-item p,
#plugins .about-list .about-item a {
    font-size: 14px;
}

#plugins .about-list .about-item p {
    height: calc(100% - 25px);
}

#plugins .about-list .about-item a {
    padding: 5px 10px;
    background-color: var(--color-4);
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    margin-right: 10px;
}

#plugins .about-list .about-item a:hover {
    background-color: var(--color-5);
    color: var(--color-6);
}

#plugins #plugin-list {
    max-height: 1000px;
    overflow: auto;
    margin: 10px 0;
    background-color: var(--color-7);
    border-radius: 15px;
    padding: 10px;
    border: 2px solid var(--color-8);
    position: relative;
}

#plugins #plugin-list .plugin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 40px; */
    padding: 5px 5px 5px 10px;
    opacity: 0;
    transform: translateX(20px);
    animation: slideIn 0.5s forwards;
}

#plugins #plugin-list .plugin .description {
    position: fixed; /* 使用 fixed 以避免父元素偏移的影响 */
    visibility: hidden;
    background-color: var(--color-9);
    color: var(--color-10);
    text-align: left;
    border-radius: 4px;
    padding: 5px;
    z-index: 1000;
    white-space: nowrap;
    pointer-events: none; /* 避免影响鼠标行为 */
    opacity: 0;
    transition: opacity 0.2s ease;
}

#plugins #plugin-list .plugin .description span {
    color: var(--color-11);
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#plugins #plugin-list .plugin .plugin-name {
    font-size: 16px;
    margin-right: 20px;
    width: 150px;
    display: inline-flex;
}

#plugins #plugin-list .plugin .plugin-author {
    font-size: 14px;
    color: var(--color-12);
    margin-right: 20px;
}

#plugins #plugin-list .plugin a {
    font-size: 16px;
    text-decoration: none;
    color: var(--color-13);
    margin-right: 10px;
}

#plugins #plugin-list .plugin .plugin-mcdr,
#plugins #plugin-list .plugin .plugin-github {
    color: var(--color-14);
    text-decoration: underline;
}

#plugins #plugin-list .plugin .plugin-version {
    font-size: 14px;
    color: var(--color-15);
    margin-left: 40px;
    width: 70px;
    display: inline-flex;
}

#plugins #plugin-list .plugin .plugin-latest-version {
    font-size: 14px;
    color: var(--color-16);
    margin-left: 10px;
}

#plugins .list-btn {
    height: 30px;
    width: 80px;
    box-sizing: border-box;
    padding: 3px 10px;
    border-radius: 8px;
    background-color: var(--color-17);
    color: var(--color-18);
    border: 2px solid var(--color-19);
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s all;
}

#plugins .list-btn:hover {
    transform: scale(0.95);
}

#plugins .list-btn.run {
    color: var(--color-20);
    background-color: var(--color-21);
}

.config-title {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.config-title h4 {
    margin: 0;
}
.config-title .btn:nth-child(1) {
    margin-left: 10px;
}
.config-title .btn:nth-child(2) {
    margin-left: 10px;
}

#plugins .config .config-item,
#plugins .config .config-item-child {
    display: flex;
    margin-bottom: 15px;
    margin-top: 5px;
    /* 自动换行 */
    flex-wrap: wrap;
}

#plugins .config .config-item-child > div {
    margin-right: 10px;
    min-width: 170px;
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 150px;
    background-color: var(--color-22);
    padding: 5px;
    border: 2px solid var(--color-23);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: slideIn 0.5s forwards;
    opacity: 0;
    transform: translateY(10px);
}

.Group {
    border: 2px solid var(--color-24);
    border-radius: 15px;
    padding: 10px;
    background-color: var(--color-25);
    margin-bottom: 5px;
    backdrop-filter: blur(3px);
}

#plugins .config .config-item > div {
    min-width: 180px;
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 150px;
    background-color: var(--color-26);
    padding: 5px;
    border: 2px solid var(--color-27);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: slideIn 0.5s forwards;
    opacity: 0;
    transform: translateY(10px);
}

#plugins .config .config-item > div .tip {
    display: block;
    margin: 0;
}

#plugins .config .config-item-child > div .tip {
    display: block;
    margin: 0;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#plugins .config div > p {
    font-size: 15px;
    margin-bottom: 5px;
    background: var(--color-28);
    padding: 0 5px 2px;
    border-radius: 5px;
    margin-top: 10px;
}

#plugins .config .config-item-input {
    display: flex;
    flex-wrap: wrap;
}

#plugins .config .input-container {
    display: flex;
}

#plugins .config input[type="text"] {
    height: 30px;
    display: block;
    min-width: 80px;
    width: 80px;
    max-width: 180px;
    box-sizing: border-box;
    padding: 5px 10px ;
    border-radius: 8px;
    border: none;
    background-color: var(--color-29);
    font-size: 16px;
    margin-right: 2px;
    margin-bottom: 2px;
}

#plugins .config input[type="checkbox"] {
    width: 0;
    height: 30px;
}

/* 选中状态 */
#plugins .config input[type="checkbox"]::after {
    position: absolute;
    content: "点击开启";
    color: var(--color-30);
    height: 30px;
    width: 80px;
    box-sizing: border-box;
    padding: 3px 10px;
    border-radius: 8px;
    background-color: var(--color-31);
    color: var(--color-32);
    border: 2px solid var(--color-33);
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s all;
}

#plugins .config input[type="checkbox"]:hover::after {
    transform: scale(0.95);
}

#plugins .config input[type="checkbox"]:checked::after {
    content: "点击关闭";
    background-color: var(--color-34);
}

#plugins .config div button {
    width: 25px;
    border: 0;
    background: var(--color-35);
    cursor: pointer;
    margin: 5px;
    margin-left: -35px;
    margin-right: 10px;
}


#plugins .btn {
    height: 30px;
    width: auto;
    box-sizing: border-box;
    padding: 3px 10px;
    border-radius: 8px;
    background-color: var(--color-36);
    color: var(--color-37);
    border: 2px solid var(--color-38);
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s all;
    display: inline-block;
}

#plugins .btn:hover {
    transform: scale(0.95);
}

#plugins .btn.enable {
    background-color: var(--color-39);
}

#plugins .no-hint {
    max-width: 520px;
    background: var(--color-40);
    padding: 10px;
    border-radius: 15px;
    border: 2px solid var(--color-41);
    font-size: 14px;
    color: var(--color-42);
}

#plugins .no-hint p{
    margin-bottom: 5px;
}

/* 提示框的渐隐动画 */
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

#plugins #editor-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: var(--color-43);
    border: 2px solid var(--color-44);
    z-index: 100;
    border-radius: 15px;
    overflow: hidden;
}
#plugins #editor { 
    height: calc(100% - 52px); 
    width: 100%; 
}

#plugins #editor .ace_content {
    overflow: hidden;
}

#plugins #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: var(--color-45); */
    z-index: 99;
    border-radius: 15px;
}
#plugins #popup-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background: var(--color-46);
    border-bottom: 2px solid var(--color-47);
    height: 50px;
    overflow: hidden;
}
