#plugins >div:has(>h2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#plugins >div:has(>h2) >div {
    display: flex;
    align-items: center;
}

#plugins >div:has(>h2) >div >a {
    margin-right: 10px;
    text-decoration: none;
}

#plugins >div:has(>h2) >div >a:last-of-type {
    margin-right: 0;
}

#plugins .title:first-of-type {
    margin-top: 0;
}

#plugins .title {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#plugins .title .tip {
    margin-left: 20px;
}

#plugins .tip {
    color: #a1afc9;
    font-size: 12px;
    margin-left: 5px;
}

#plugins .about-list .about-item {
    margin: 10px 0;
    background-color: #fff;
    max-width: 520px;
    height: 90px;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #e9f1f6;
    position: relative;
}

#plugins .about-list .about-item p,
#plugins .about-list .about-item a {
    font-size: 14px;
}

#plugins .about-list .about-item p {
    height: calc(100% - 25px);
}

#plugins .about-list .about-item a {
    padding: 5px 10px;
    background-color: #e9f1f6;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    margin-right: 10px;
}

#plugins .about-list .about-item a:hover {
    background-color: #c2ccd0;
    color: #fff;
}

#plugins #plugin-list {
    max-height: 1000px;
    overflow: auto;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #e9f1f6;
    position: relative;
}

#plugins #plugin-list .plugin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 40px; */
    padding: 5px 5px 5px 10px;
    opacity: 0;
    transform: translateX(20px);
    animation: slideIn 0.5s forwards;
}

#plugins #plugin-list .plugin .description {
    position: fixed; /* 使用 fixed 以避免父元素偏移的影响 */
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: left;
    border-radius: 4px;
    padding: 5px;
    z-index: 1000;
    white-space: nowrap;
    pointer-events: none; /* 避免影响鼠标行为 */
    opacity: 0;
    transition: opacity 0.2s ease;
}

#plugins #plugin-list .plugin .description span {
    color: #fff;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#plugins #plugin-list .plugin .plugin-name {
    font-size: 16px;
    margin-right: 20px;
    width: 150px;
    display: inline-flex;
}

#plugins #plugin-list .plugin .plugin-author {
    font-size: 14px;
    color: #75878a;
    margin-right: 20px;
}

#plugins #plugin-list .plugin a {
    font-size: 16px;
    text-decoration: none;
    color: #a1afc9;
    margin-right: 10px;
}

#plugins #plugin-list .plugin .plugin-mcdr,
#plugins #plugin-list .plugin .plugin-github {
    color: #6473E8;
    text-decoration: underline;
}

#plugins #plugin-list .plugin .plugin-version {
    font-size: 14px;
    color: #75878a;
    margin-left: 40px;
    width: 70px;
    display: inline-flex;
}

#plugins #plugin-list .plugin .plugin-latest-version {
    font-size: 14px;
    color: #75878a;
    margin-left: 10px;
}

#plugins .list-btn {
    height: 30px;
    width: 80px;
    box-sizing: border-box;
    padding: 3px 10px;
    border-radius: 8px;
    background-color: #fff;
    color: #392f41;
    border: 2px solid #e9f1f6;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s all;
}

#plugins .list-btn:hover {
    transform: scale(0.95);
}

#plugins .list-btn.run {
    color: #a1afc9;
    background-color: #e9f1f6;
}

.config-title {
    display: grid;
    grid-template-columns: 3fr 0.5fr 0.7fr;
    padding: 5px;
}
.config-title h4 {
    margin: 0;
}
.config-title .btn:nth-child(1) {
    margin-left: 10px;  /* 确保按钮在行尾 */
    min-width: 175px;
    max-width: 200px;
}
.config-title .btn:nth-child(2) {
    margin-left: 10px;  /* 确保按钮在行尾 */
    width: 100px;
    min-width: 100px;
    max-width: 120px;
}

#plugins .config .config-item,
#plugins .config .config-item-child {
    display: flex;
    margin-bottom: 15px;
    margin-top: 5px;
    /* 自动换行 */
    flex-wrap: wrap;
}

#plugins .config .config-item-child > div {
    margin-right: 10px;
    min-width: 170px;
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 150px;
    background-color: #ffffffcc;
    padding: 5px;
    border: 2px solid #e9f1f6;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: slideIn 0.5s forwards;
    opacity: 0;
    transform: translateY(10px);
}

.Group {
    border: 2px solid #e9f1f6;
    border-radius: 15px;
    padding: 10px;
    background-color: #ffffff60;
    margin-bottom: 5px;
    backdrop-filter: blur(3px);
}

#plugins .config .config-item > div {
    min-width: 180px;
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 150px;
    background-color: #ffffffcc;
    padding: 5px;
    border: 2px solid #e9f1f6;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: slideIn 0.5s forwards;
    opacity: 0;
    transform: translateY(10px);
}

#plugins .config .config-item > div .tip {
    display: block;
    margin: 0;
}

#plugins .config .config-item-child > div .tip {
    display: block;
    margin: 0;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#plugins .config div > p {
    font-size: 15px;
    margin-bottom: 5px;
    background: #ffffff60;
    padding: 0 5px 2px;
    border-radius: 5px;
    margin-top: 10px;
}

#plugins .config .config-item-input {
    display: flex;
    flex-wrap: wrap;
}

#plugins .config .input-container {
    display: flex;
}

#plugins .config input[type="text"] {
    height: 30px;
    display: block;
    min-width: 80px;
    width: 80px;
    max-width: 180px;
    box-sizing: border-box;
    padding: 5px 10px ;
    border-radius: 8px;
    border: none;
    background-color: #e9f1f6;
    font-size: 16px;
    margin-right: 2px;
    margin-bottom: 2px;
}

#plugins .config input[type="checkbox"] {
    width: 0;
    height: 30px;
}

/* 选中状态 */
#plugins .config input[type="checkbox"]::after {
    position: absolute;
    content: "点击开启";
    color: #2b2b2b;
    height: 30px;
    width: 80px;
    box-sizing: border-box;
    padding: 3px 10px;
    border-radius: 8px;
    background-color: #fff;
    color: #a1afc9;
    border: 2px solid #e9f1f6;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s all;
}

#plugins .config input[type="checkbox"]:hover::after {
    transform: scale(0.95);
}

#plugins .config input[type="checkbox"]:checked::after {
    content: "点击关闭";
    background-color: #e9f1f6;
}

#plugins .config div button {
    width: 25px;
    border: 0;
    background: #E9F1F6;
    cursor: pointer;
    margin: 5px;
    margin-left: -35px;
    margin-right: 10px;
}


#plugins .btn {
    height: 30px;
    width: auto;
    box-sizing: border-box;
    padding: 3px 10px;
    border-radius: 8px;
    background-color: #fff;
    color: #392f41;
    border: 2px solid #e9f1f6;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s all;
    display: inline-block;
}

#plugins .btn:hover {
    transform: scale(0.95);
}

#plugins .btn.enable {
    background-color: #e9f1f6;
}

#plugins .no-hint {
    max-width: 520px;
    background: #fff;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #e9f1f6;
    font-size: 14px;
    color: #a1afc9;
}

#plugins .no-hint p{
    margin-bottom: 5px;
}

/* 提示框的渐隐动画 */
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

#plugins #editor-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: #fff;
    border: 2px solid #e9f1f6;
    z-index: 1000;
    border-radius: 15px;
}
#plugins #editor { 
    height: 100%; 
    width: 100%; 
}
#plugins #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.5); */
    z-index: 999;
    border-radius: 15px;
}
#plugins #popup-controls {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #fff;
    border-bottom: 2px solid #e9f1f6;
}