<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于</title>
    <link rel="stylesheet" href="custom/overall.css">
    <script src="custom/overall.js"></script>
    <link rel="stylesheet" href="css/about.css">
    <style>
        * {
            padding: 0;
            margin: 0;
            color: #2b2b2b;
            font-weight: 500;
        }
    </style>
    <script>
        function checkIfEmbedded() {
            if (window.top == window.self) {
                // 跳转到首页
                window.location.href = '/index';
            }
        }

        // 当页面失去焦点时检测
        window.onblur = checkIfEmbedded;
        // 页面加载时检测
        window.onload = checkIfEmbedded;
        // 页面尺寸发生变化时
        window.onresize = checkIfEmbedded;
        // 页面滚动时
        window.onscroll = checkIfEmbedded;
        // 页面内容发生变化时
        window.onhashchange = checkIfEmbedded;
        // 页面内容被点击时
        window.onclick = checkIfEmbedded;
    </script>
</head>
<body id="about">
    <h2 class="title">关于</h2>
    <div class="about-list">
        <div class="about-item">
            <p>GUGUbot: <span>PFingan-MCDRQQ机器人插件，提供多项QQ机器人配置和功能，涵盖管理娱乐等多种功能，并且提供详尽的配置项以方便私人定制化。</span></p>
            <a href="https://mcdreforged.com/zh-CN/plugin/gugubot" target="_blank">MCDR仓库</a>
            <a href="https://github.com/LoosePrince/PF-GUGUbot" target="_blank">Github仓库</a>
            <a href="#about" id="gugubot-version">版本：获取中...</a>
        </div>
        <div class="about-item">
            <p>cq_qq_api: <span>基于CQ码的正向WebsocketQQ连接机器人，提供MCDR机器人插件接口，方便聊天类机器人的构建。</span></p>
            <a href="https://mcdreforged.com/zh-CN/plugin/cq_qq_api" target="_blank">MCDR仓库</a>
            <a href="https://github.com/LoosePrince/cq_qq_api" target="_blank">Github仓库</a>
            <a href="#about" id="cq-qq-api-version">版本：获取中...</a>
        </div>
        <div class="about-item">
            <p>Web: <span>GUGUbot附属网页管理系统，提供插件管理，配置修改等</span></p>
            <a href="https://github.com/LoosePrince/PF-MCDR-WebUI" target="_blank">Github仓库</a>
            <a href="#about">版本：v0.1.0 内部测试版</a>
        </div>
    </div>
    <h2 class="title">贡献</h2>
    <div class="contribute">
        <!-- 两列的表格 -->
        <table>
            <tr>
                <th>贡献项目</th>
                <th>说明</th>
            </tr>
            <tr>
                <td><a href="https://mcdreforged.com/zh-CN/plugins" target="_blank">MCDR仓库</a></td>
                <td>推广本插件、提供快速安装、信息获取</td>
            </tr>
            <tr>
                <td><a href="https://ace.c9.io/" target="_blank">Ace Editor</a></td>
                <td>在线编辑器</td>
            </tr>
        </table>
        <div class="hr"></div>
        <table>
            <tr>
                <th>贡献人</th>
                <th>说明</th>
            </tr>
            <tr>
                <td><a href="https://github.com/LoosePrince" target="_blank">树梢 (LoosePrince)</a></td>
                <td>功能设计、文档编写、Web设计、前端编写</td>
            </tr>
            <tr>
                <td><a href="https://github.com/XueK66" target="_blank">雪开 (XueK66)</a></td>
                <td>代码开发、维护、功能设计</td>
            </tr>
        </table>
        <div class="hr"></div>
        <table>
            <tr>
                <th>特别鸣谢</th>
            </tr>
            <tr>
                <td><a href="#about">反馈者</a></td>
                <td>感谢你们的反馈~</td>
            </tr>
            <tr>
                <td><a href="https://chatgpt.com" target="_blank">ChatGPT</a></td>
                <td>ChatGPT协助编写</td>
            </tr>
        </table>
    </div>
    <script src="js/about.js"></script>
</body>
</html>