fastapi>=0.68.0
javaproperties
mcdreforged>=2.3.0
passlib
pydantic
Requests
ruamel.yaml
starlette
uvicorn>=0.15.0
itsdangerous
jinja2
argon2_cffi
python-multipart
typing-extensions
aiohttp